.storyHeader,
.storyFooter {
  display: flex;
}

.storyHeader > *,
.storyFooter > * {
  margin-right: 5px;
}

.navbar {
  background-color: orangered !important;
  margin: 0 10%;
}

.center {
  margin: 0 10%;
  background-color: #e7e5ff;
  padding: 1%;
}

.content {
  font-size: 85%;
}

.commentAuthor {
  font-style: italic;
  font-weight: bold;
}

.commentList {
  list-style-type: " ";
}

.navbar-brand {
  font-family: Verdana, Geneva, sans-serif;
}

.storyAuthor {
  font-style: italic;
}

.footerNote {
  margin: 0 1%;
}

.collapseButton {
  cursor: pointer;
}
